* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --off-white: #eeeeee;
  --wrong: #da1212;
  --blue: #11468f;
  --darker-blue: #041562;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--off-white);
}

.app-container {
  margin: 3% auto;
  max-width: 50%;
  text-align: center;
}

.question {
  font-size: 4rem;
  color: var(--darker-blue);
}

.answers {
  padding: 5%;
  font-size: 2rem;
  list-style: none;
}

.answer {
  margin: 5%;
  padding: 8px;
  border-radius: 1rem;
  color: white;
  background-color: var(--blue);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.answer:hover {
  background-color: var(--darker-blue);
  transition: background-color 0.5s ease;
}
